<div class="container">
  <div class="row">
    <div class="panel panel-default clearfix">
      <div class="panel-heading">
        <h1>Manufacturers</h1>
      </div>
      <div class="row">
        <div class="col-md-10 col-md-offset-1 margin-top-2">
          <table class="table table-striped table-bordered">
            <thead class="table-header">
              <tr>
                <th>Manufacturer</th>
                <th>Country</th>
                <th>Number of Models</th>
                <th></th>
              </tr>
            </thead>
            <tbody>
              {{#each model as |brand|}}
                <tr>
                  <th scope="row">{{brand.name}}</th>
                  <td>{{brand.country}}</td>
                  <td>{{brand.cars.length}}</td>
                  <td>
                    {{#link-to "manufacturer.car" brand.id}}See More{{/link-to}}
                  </td>
                </tr>
              {{/each}}
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
</div>

{{outlet}}
