<div class="container">
  <div class="row">
    <div class="panel panel-default clearfix">
      <div class="panel-heading">
        <h1>Manufacturers</h1>
      </div>
      <div class="row">
  <div class="col-md-10 col-md-offset-1 margin-top-2">


      <table class="table table-striped table-bordered">
        <thead class="table-header">
          <tr>
            <th>Manufacturer</th>
            <th>Country</th>
            <th>Number of Models</th>
            <th></th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <th scope="row">Mazda</th>
            <td>JPN</td>
            <td>0</td>
            <td>{{#link-to "index"}}See More{{/link-to}}</td>
          </tr>
          <tr>
            <th scope="row">Ford</th>
            <td>US</td>
            <td>0</td>
            <td>{{#link-to "index"}}See More{{/link-to}}</td>
          </tr>
          <tr>
            <th scope="row">BMW</th>
            <td>DEU</td>
            <td>US</td>
            <td>{{#link-to "index"}}See More{{/link-to}}</td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>
</div>
</div>

{{outlet}}
